.topratedmoviesdiv {
  height: auto;
  padding: 15px;
}

ol {
  margin-left: 0px;
  list-style: none;
  margin-top: 10px;
}
ol li {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: left;
  font-size: 1.1em;
  color: navy;
  font-weight: 500;
}
h2 {
  text-align: center;
  margin: 60px;
  font-size: 1vw;
  font-size: 1.5em;
}
