.nav {
  /* border: 2px solid navy; */
  height: 80px;
  max-width: fit-content;
  margin: 20px;
  margin-bottom: 100px;
  display: flex;
}

.nav ul li p {
  align-items: center;
  vertical-align: middle;
  margin-top: 11px;
  cursor: pointer;
}
ul {
  max-width: max-content;
  margin-bottom: 100px;
}
