.searchZone {
  display: inline;
  padding: 15px;
}

.searchBtn {
  height: 55px;
}

.containerTextField {
  padding: 15px;
  display: flex;
  margin: auto;
}

.search {
  width: 50%;
  padding: 12px;
  resize: vertical;
}
.results {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

@media (min-width: 280px) {
  .containerTextField {
    margin-left: 15%;
    width: 280px;
    align-items: stretch;
  }
}
@media (min-width: 360px) {
  .containerTextField {
    margin-left: 15%;
    width: 330px;
    align-items: stretch;
  }
}
@media (min-width: 375px) {
  .containerTextField {
    margin-left: 15%;
    width: 375px;
    align-items: stretch;
  }
}
@media (min-width: 320px) {
  .containerTextField {
    margin-left: 15%;
    width: 320px;
    align-items: stretch;
  }
}
@media (min-width: 411px) {
  .containerTextField {
    margin-left: 15%;
    width: 410px;
    align-items: stretch;
  }
}

@media (min-width: 575px) {
  .containerTextField {
    margin-left: 15%;
    width: 575px;
    align-items: stretch;
  }
}
@media (min-width: 715px) {
  .containerTextField {
    margin-left: 15%;
    width: 715px;
    align-items: stretch;
  }
}
@media (min-width: 745px) {
  .containerTextField {
    margin-left: 15%;
    width: 745px;
    align-items: stretch;
  }
}
@media (min-width: 760px) {
  .containerTextField {
    margin-left: 15%;
    width: 760px;
    align-items: stretch;
  }
}
@media (min-width: 768px) {
  .containerTextField {
    margin-left: 15%;
    width: 768px;
    align-items: stretch;
  }
}
@media (min-width: 1024px) {
  .containerTextField {
    margin-left: 15%;
    width: 1024px;
    align-items: stretch;
  }
}
@media (min-width: 1040px) {
  .containerTextField {
    margin-left: 10%;
    width: 1040px;
    align-items: stretch;
  }
}
