.searchZone {
  padding: 5px;

  margin-top: 10%;
  overflow: hidden;
}
.containerTextField {
  padding: 5px;
  margin-bottom: 10%;
  margin-left: 20%;
}
.search {
  width: 400px;
}
.searchBtn {
  font-size: 15px;
  padding: 5px;
  height: 55px;
}
.img {
  padding: 15px;
  margin-left: 23%;
}
