.searchZone {
  display: inline;
  padding: 15px;
}

.searchBtn {
  height: 55px;
}

.containerTextField {
  padding: 15px;
  display: flex;
  margin: auto;
}

.search {
  width: 50%;
  padding: 12px;
  resize: vertical;
}
.results {
  width: 100%;
  height: auto;
  margin-top: 60px;
}
@media screen and (max-width: 700px) and (min-width: 280px) {
  .containerTextField {
    margin-left: 11% !important;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .containerTextField {
    margin-left: 10% !important;
    margin-top: 10% !important;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1024px) {
  .containerTextField {
    margin-left: 10% !important;
    margin-top: 10% !important;
  }
}
