.App {
  position: relative;
  margin: 0 auto;
  padding: 0;
  min-height: 101%;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.header {
  padding: 15px;
}

.mainPage {
  background-color: #f2f3f4;
  padding: 15px;
  min-height: 100vh;
}
.topRatedDiv {
  float: left;
  padding: 15px;
}
