.App {
  width: 100vw;
  height: 100vh;
  /* background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

.divItem {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  border: 1px solid navy;
  width: 20vw;
  height: auto;
}
